<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.JPG">
    </a>
    <button class="navbar-toggler" type="button">

    </button>
  </div>
</nav>
<!-- Image slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousal-indicator"></ul>
</div>
<!-- Jumbotron -->
<div class="container-fluid">
  <div class="jumbotron"></div>
</div>
<!-- Welcome section -->
<div class="container-fluid padding">

</div>
<!-- Forms -->
<app-blog-create></app-blog-create>
